:root {
	--primery-text-color: #212121;
	--secondary-text-color: #757575;
	--third-text-color: #ffffff;
	--accent-color: #2196f3;
	--footer-background-color: #2f303a;
	--secondary-background-color: #f5f4fa;
	--third-background-color: #2f303a;
}
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background-color: #ffffff;
	color: var(--primery-text-color);
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.link {
	text-decoration: none;
}

.list {
	list-style: none;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px;
}

/* #region HEADER */

.page {
	border-bottom: 1px solid #ececec;
}

.logo {
	display: inline-block;
	padding-top: 24px;
	padding-bottom: 25px;
	color: var(--primery-text-color);
	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
}

.logo span {
	color: var(--accent-color);
}

.site-nav .link {
	/* display: inline-block;
	padding-top: 33px;
	padding-bottom: 31px; */
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--primery-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent-color);
}

.site-nav .link.current {
	color: var(--accent-color);
}

.contacts .link {
	/* display: inline-block;
	padding-top: 33px;
	padding-bottom: 31px; */
	color: var(--secondary-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.contacts .link:hover,
.contacts .link:focus {
	color: var(--accent-color);
}

/* #endregion */

/* #region HERO */

.hero {
	background-color: var(--third-background-color);
}

.hero .container {
	width: 1200px;
	padding-top: 200px;
	padding-bottom: 200px;
}

.hero-title {
	display: inline-block;

	padding-bottom: 30px;

	color: var(--third-text-color);
	font-style: normal;
	font-weight: 900;
	font-size: 44px;
	line-height: 60px;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.button-hero {
	font-family: inherit;
	background-color: var(--accent-color);
	color: var(--third-text-color);
	font-weight: 700;
	line-height: 1.87;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	cursor: pointer;
}

.button-hero:hover,
.button-hero:focus {
	background-color: #188ce8;
}

/* #endregion */

/* #region FEATURES */

.section-text {
	color: var(--secondary-text-color);
}

.features .title {
	display: inline-block;
	padding-top: 94px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}

.features .section-text {
	padding-top: 10px;

	font-size: 14px;
	line-height: 1.71;
}
/* #endregion */

/* #region TEAM */

.section.secondary {
	background-color: var(--secondary-background-color);
}

.section-title {
	display: inline-block;
	padding-top: 94px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}

.work {
	padding-top: 50px;
	padding-bottom: 94px;
}

.team {
	padding-top: 50px;
	padding-bottom: 94px;
}

.team .title {
	padding-top: 30px;

	font-weight: 500;
	line-height: 1.18;
	text-align: center;
}

.team .section-text {
	padding-top: 10px;
	padding-bottom: 30px;

	line-height: 1.18;
	text-align: center;
}

/* #endregion */

/* #region PROJECTS */

.button {
	margin-top: 94px;
	margin-bottom: 50px;
	padding: 6px 22px;
	border-color: transparent;
	border-radius: 4px;
	font-family: inherit;
	background-color: var(--secondary-background-color);
	font-weight: 500;
	line-height: 1.62;
	text-align: center;
	cursor: pointer;
}

.button:hover,
.button:focus {
	color: var(--third-text-color);
	background-color: var(--accent-color);
}
.boxes {
	padding-top: 30px;
}

.projects .title {
	padding-top: 20px;
	padding-bottom: 4px;

	color: var(--primery-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.projects .section-text {
	padding-bottom: 20px;

	line-height: 1.87;
}

/* #endregion */

/* #region FOOTER */
.footer {
	background-color: var(--footer-background-color);
}
.footer .logo {
	color: var(--third-text-color);
}

.address .link {
	color: var(--third-text-color);
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
}

.contacts.secondary .link {
	color: rgba(255, 255, 255, 0.6);
	font-size: 14px;
	line-height: 1.71;
}
/* #endregion */
